@import "./variables";

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, 
  $fall-orange, $dark-green);

  // set thte background to the text itself rather than the space around the text
  -webkit-background-clip: text;
  background-clip: text;
  // transparent color causes the background color to be seen which is bound to text
  color: transparent;
  transform: all .2s;
  letter-spacing: 2px;
  &:hover {
    transform: skewY(2deg) skewX(2deg);
    text-shadow: $default-shadow
  }
}

.heading-tertiary {
  font-size: $large-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $medium-font-size;
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}