
// COLORS
$light-green: #7ed56f;
$dark-green: #28b485;
$light-grey-1: #F7F7F7;
$color-black: #000;
$color-white: #FFF;
$fall-background: #FEFAE0;
$fall-orange: #FB8B24;
$fall-dark-orange: #BC6C25;
$fall-green: #D4E09B;
$fall-dark-green: #52796F;


//GRID 
$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-horizontal: 6rem;


// FONTS
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 2rem;
$x-large-font: 4rem;

// Box Shadow
$light-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
$default-shadow: 0 1rem 2rem rgba(0,0,0,0.2);

// Bootstrap 
