@import "../../../../sass/variables";
@import "../../../../sass//mixins";
@import "../../../../sass//animations";
@import "../../../../sass//components/composition";
.header {
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($fall-orange, 0.7), 
  //   rgba($dark-green, 0.7));
  //   // url('../../../../assets/images/forest_bridge_com.webp');
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($fall-orange, 0.7), 
  //   rgba($dark-green, 0.7));
  //   clip-path: polygon(0 100%, 100% 0,100% 100%, 0 100%);
  
  background-position: top;
  background-attachment: fixed;
  position: relative;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);  
  @include flexCenter;
  color: $color-white;
  min-height: 100vh;
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-size: $x-large-font;
    animation: moveInRight 1s ease-out .75s;
    animation-fill-mode: backwards;
    z-index: 3;
    /*
    animation-iteration-count: 3;
    animation-delay: 3s;
    */
    &:hover {
      transform: skewY(2deg) skewX(2deg);
      text-shadow: $default-shadow
    }
  }
  h3 {
    font-size: 2.5rem;
    animation: moveInLeft 1s ease-out .75s;
    animation-fill-mode: backwards;
    z-index: 3;
    &:hover {
      transform: skewY(-2deg) skewX(-2deg);
      text-shadow: $default-shadow
    }
  }
  a {
    z-index: 3;
    animation: moveUp 1s ease-out .75s;
    // set properties from initial moveUp as part of the initial css here
    animation-fill-mode: backwards;
    background-color: $fall-background;
  }
}
@media (max-width: 1023px) {
  .header {
    background-attachment: local;
    h3 {
      font-size: 2.2rem;
    }
  }
}
