@import "../../sass/animations";
@import "../../sass/variables";
@import "../../sass/components/button";
@import "../../sass/typography";
@import "../../sass/utility";
@import "../../sass/layout/grid";
@import "../../sass/components/composition";
@import "../../sass/layout/flex";
@import "../../sass//mixins";


.is-visible {
  opacity: 1;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
.not-visible {
  opacity: 0;
}

.left-visible {
  opacity: 1;
  animation-name: moveInLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
.right-visible {
  opacity: 1;
  animation-name: moveInRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}
/*
@media (max-width: 800px) {
  .header {
    min-height: 70vh;
  }
}
*/