@import "../../../../sass/variables";
@import "../../../../sass/utility";
@import "../../../../sass/mixins";

.project {
  min-height: 800px;
  height: 100vh;
  width: 100%;
  // background-image: linear-gradient(
  //   to bottom right , 
  //   rgba($fall-orange, 0.7), 
  //   rgba($dark-green, 0.7)), 
  //   url('../../../../assets/images/forest_main_com.jpg');
  // background-position: top;
  // background-size: cover;
  // background-attachment: fixed;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  @include flexCenter;
  transition: 1s ease-in;
  h1 {
    text-transform: uppercase;
    transition: 1s ease-in;
    font-size: 3rem;
    color: $color-white;
    display: inline-block;
    z-index: 3;
    &:hover {
      transform: skewY(2deg) skewX(2deg);
      transition: .2s;
    }
    /*
    animation-iteration-count: 3;
    animation-delay: 3s;
    */
  }
  &-display {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    &-card {
      background-color: rgba($color-white, 0.8);
      box-shadow: $default-shadow;
      color: #666;
      padding: 2rem;
      position: relative;
      border-radius: 2px;
      z-index: 3;
      h3 {
        font-size: $large-font-size;
        text-align: left;
        z-index: 3;
      }
      p {
        font-size: $small-font-size;
        font-weight: 600;
        text-align: left;
        z-index: 3;
      }
      a,
      a:visited,
      a:link {
        &:last-child {
            float: left; 
            position: absolute;
            bottom: 5%;
            left: 5%;
        }
      }
    }
  }
  .image-item {
    max-width:  100%;
    margin: 0;
    max-height: 250px;
    box-shadow: $light-shadow;
    &:hover {
      box-shadow: $default-shadow;
      transform: scale(1.05);
      transition: .2s ease-in;
    }
    &:active {
      transform: translateY(2px);
      transition: .2s;
    }
  }

}
.arrow-container {
  @include flexRow;
  width: 100%;
  gap: 0;
}
.arrow-btn-cont {
  display: none;
  cursor: pointer;
  width: max-content;
  padding:0;
  &:hover,
  &:active {
    background-color: rgba(155, 255, 155, 0.1);
    button {
      border: 1px solid rgba(155, 255, 155, 0.3);
      background-color: rgba(155, 255, 155, 0.3);
    }
  }
  z-index: 3;
}
.arrow-btn {
  cursor: pointer;
  font-size: 28px;
  width: 42px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  border: none;
}
@media (max-width: 1700px) {
  .arrow-btn-cont {
    @include flexCenter;
    padding: 1rem;
  }
  .project {
    &-display {
      display: flex;
      justify-content: start;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 1rem;
      width: 2250px;
      gap: 0;
      &-card {
        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: $fall-green;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
    .image-item {
      max-width: 400px;
    }
  }
  
}

@media (max-width: 1023px) {
  .project {
    background-attachment: local;
  }
}
@media(max-width: 800px) {
  .project {
    &-display {
      width: 90%;
    }
    .image-item {
      width: 250px;
    }
  }
  .arrow-btn-cont {
    display: none;
  }
} 

@media (max-width: 350px) {
  .project{ 
    &-display {
      &-card {
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
    h1 {
      font-size: 2rem;
    }
    .image-item {
      width: 235px;
    }
  }
}