@import "../../../../sass/mixins";
@import "../../../../sass/variables";
.about-container {
  @include flexCenter;
  min-height: 80vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 1s ease-in;
  .main-content {
    text-align: center;
    width: 90%;
    h1 {
      color: #000;
      text-transform: uppercase;
      font-size: $x-large-font;
    }
    p {
      font-size: $default-font-size;
    }
    a {
      font-size: $default-font-size;
    }
  }
}
.grid {
  width:fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2rem;
  z-index: 3;
}

@media (max-width: 1400px) {
  .paragraph {
    margin-top: 3rem;
  }
}
@media (max-width: 800px) {

  .about-container {
    min-height: 100vh;
    padding-left: 2rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}