@import "../variables";

.composition {
  width: 10rem;
  height: 5rem;
  position: relative;
  box-shadow: $light-shadow;
  background-color: $color-white;
  border-radius: 2px;
  z-index: 5;
  opacity: 0.9;
  &__photo {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: auto;
    border-radius: 2px;
    z-index: 3;
  }
  &:not(:last-child) {
    margin-right: 1rem;
  }
  &:hover {
    box-shadow: $default-shadow;
    // zoom: 1.1;
  }
  &:active {
    box-shadow: $default-shadow;
    transform: translateY(2px);
  }
}

.bg-img {
  z-index: -1;
  position: fixed;
  object-fit: cover;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1023px) {
  .bg-img {
    position:absolute;
    // height: auto;
  }
}

.bg-gradient {
  background-image: linear-gradient(
    to right bottom,
    rgba($fall-orange, 0.7), 
    rgba($dark-green, 0.7));
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);  
  z-index: 1;
  position: absolute;
  height: 100vh;
  min-height: 800px;
  width: 100%;
}